.cursor {
  position: fixed;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  z-index: 999;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #fff;
  opacity: 1;
  border-radius: 50%;
}

.lds-ripple div:first-child {
  width: 180px;
  height: 180px;
  opacity: 0.7;
}

.lds-ripple div:not(:first-child) {
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.cursor[data-hint='FOCUS'] .lds-ripple div:first-child {
  border-color: #0f0;
  transform: scale(0.01);
  transition: transform 5s ease-in;
}

.cursor[data-hint='SOFT_PUNISH'] .lds-ripple div:first-child {
  border-color: #ff0;
}

.cursor[data-hint='HARD_PUNISH'] .lds-ripple div:first-child {
  border-color: #f00;
}

