

#renderPane.fadein{

  animation: blur 1s ease-in;

}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

#renderPane {
  user-select: none;

  transition: transform 0.2s ease-out; /* Animation */
  border-radius: 0px;
  z-index: 998;
}

#renderPane.fadeout{
  transition: transform 5s ease-in;
  transform: scale(2);
}

#renderPane.softfocus.saturate {
  transition: filter 0.3s;
  filter: saturate(200%);
}

#renderPane.softfocus.pixelate {
  filter: url('#pixelate');
}

#renderPane.hardfocus{
  transition: transform 0.25s ease-in, filter 0.25s;
  transform: scale(4);
  filter: saturate(200%);
}
